<flynt-component name="BlockVideoOembed" load:on="visible" class="componentSpacing" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }}>
  <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
  <dotlottie-player class="dotlottie" src="{{ theme.link }}/assets/flor.json" background="transparent" speed="1" direction="1" playMode="normal" loop autoplay>
  </dotlottie-player>
  <div class="container">
    <h1>
      {{ contentHtml|e('wp_kses_post') }}
    </h1>
    <div class="video" data-size="{{ options.size }}" data-align="center">
     
     {% if posterImage %}
        {% include 'Partials/_figure.twig' ignore missing with {image: posterImage} only %}
      {% endif %}



      <div data-ref="videoPlayer" class="video-player">
        <div class="video-loader"></div>
        <button data-ref="playButton" class="video-playButton" type="button" aria-label="View video">View video</button>
        <div id="myModal" class="modal" style="display: none;">
          <div class="modal-content">
            <button data-ref="closeButton" class="video-closeButton" type="button" aria-label="Close video">Close video</button>
            
            <video id="videoElement" controls autoplay>
              <source src="{{ videoUrl }}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>

<script>
  // Get the modal
  var modal = document.getElementById("myModal");
  var video = document.getElementById("videoElement");
  var playButton = document.querySelector('.video-playButton');
  var closeButton = document.querySelector('.video-closeButton');

  playButton.onclick = function() {
    modal.style.display = "block";
    playButton.style.display = "none";
    video.play(); // Play the video
  }

  closeButton.onclick = function() {
    modal.style.display = "none";
    playButton.style.display = "flex";
    video.pause(); // Pause the video
    video.currentTime = 0; // Reset the video's current time
  }

  // Pause the video when modal is closed
  modal.addEventListener('hidden.bs.modal', function () {
    video.pause();
  });

</script>


</flynt-component>
