<flynt-component name="BlockImageText" class="componentSpacing" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }}>
  <div class="container">

    <figure id="parallax" class="figure" style="background-image: url('{{ theme.link }}/assets/images/circle.svg')">
      <img class="element" src="{{ theme.link }}/assets/images/bamboo.png" data-speed="0.2" style="top:5%; left:10%;">
      <img class="element" src="{{ theme.link }}/assets/images/florroja.png" data-speed="0.4" style="top:15%; left:55%;">
      <img class="element" src="{{ theme.link }}/assets/images/hoja.png" data-speed="0.3" style="top:20%; left:35%;">
      <img class="element" src="{{ theme.link }}/assets/images/cardamomo.png" data-speed="0.8" style="top:45%; left:20%;">
      <img class="element" src="{{ theme.link }}/assets/images/cranberry.png" data-speed="1.0" style="top:55%; left:50%;">
    </figure>

    <div data-size="medium" data-align="center">
        <h1>{{ titleHtml }}</h1>
        {{ contentHtml|e('wp_kses_post') }}
        <a href="{{ buttonUrl }}" class="btn">{{ buttonText }}</a>
      </div>
    </div>

</flynt-component>


<script>
var container = document.getElementById('parallax');
var windowHeight = window.innerHeight;
var windowWidth = window.innerWidth;
var scrollArea = -2500 - windowHeight;
var elements = document.getElementsByClassName('element');

window.addEventListener('scroll', function() {
  var scrollTop = window.pageYOffset || window.scrollTop;
  var scrollPercent = scrollTop / scrollArea || 0;
  
  // Loop through each element and update its position based on the scroll percentage
  for (var i = 0; i < elements.length; i++) {
    var element = elements[i];
    var speed = parseFloat(element.getAttribute('data-speed'));
    // var initialTop = parseFloat(element.style.top);
    var initialTop = 0;
    var finalTop = initialTop - (scrollPercent * (windowHeight * speed)); // Adjusted calculation
    element.style.top = finalTop + 'px';
  }
});
</script>